[Unit]
Description=GNSS to RFD900 Radio Streamer
After=gnss_server.service rtk-log-setup.service
Requires=gnss_server.service rtk-log-setup.service

[Service]
ExecStart=/usr/local/bin/rtk-log-run gnss_to_rfd900 /usr/local/bin/gnssstreamer -S localhost:50010 --protfilter 4 --format 2 --clioutput 2 --output /dev/ttyUSB0@57600
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
