[Unit]
Description=GNSS Serial Port Server
After=network-online.target rtk-log-setup.service
Wants=network-online.target
Requires=rtk-log-setup.service

[Service]
ExecStart=/usr/local/bin/rtk-log-run gnss_server /usr/local/bin/gnssserver --inport "/dev/rtk-zed" --maxclients 10 --verbosity 2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
